
/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Oswald);
::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #537e8e;
    color: #a4003a;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.rule {
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 50px auto;
}

.centered {
  text-align: center
}

.mt {
  /*margin-top: 100px;*/
}

.mb {
  margin-bottom: 100px;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}


/* ==========================================================================
   General styles
   ========================================================================== */


body {
  font-family: 'Oswald', sans-serif;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h3, h4, h5, h6 {
  font-weight: 700;
  color: #4a4a4a;
  font-size:18px;
}

h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 700;

}

.about {
  margin: 0 auto;
  width: 60%;
  padding: 50px 0 0 0;
  line-height: 1.5em;
  font-family:'Fira Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  /*font-family: 'Oswald', sans-serif;
  font-weight: 200;*/
}

.resume {
  margin: 0 auto;
  width:60%;
  padding: 50px 0 80px 0;
  line-height: 1.5em;
  font-family:'Fira Sans', sans-serif;
  font-weight: 300; 
  text-align: center;
  /*font-family: 'Oswald', sans-serif;
  font-weight: 200;*/
}

.container h4 {
/*  margin-bottom: 30px;*/
}

.logo {
  width: auto;
  height:auto;max-width: 300px;max-height: 300px;
  margin:0 0px 0 0;
  padding-bottom: 10px;
  line-height: 1em;
  -webkit-filter: drop-shadow( 4px 4px 0px #717473 );
  filter: drop-shadow( 4px 4px 0px #717473 ); /* Same syntax as box-shadow */
 /* HOVER FLIP TRANSITION*/
/*  transition: 0.6s ease;
  transform-style: preserve-3d;
  perspective: 1000;*/
 }

/* .logo:hover {

  transform: rotateY(360deg);

 }*/

 .hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

/*====================================================================
BUTTONS
====================================================================*/

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:#fff;
  background: #71b6c2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  /*ADDED PROPERTIES*/  
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
  text-decoration: none;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  text-decoration: none;
  color:#fff;
}

.button {
  text-align: center;
  vertical-align: center;
  padding:10px;
  line-height: 2.5em;
  width:200px;
  height:80px;
  margin:0 auto;
  border-bottom: solid 2px #71b6c2;
  text-decoration: none;
  transition: all 0.2s ease;
  letter-spacing: 0.1em;
}

.button:hover {
  color:#fff;
}

.button:active {
  background-color:#5b939c;
  border-bottom: #5b939c;
  letter-spacing: 0em;
}




.navbar-brand {
  font-weight: 700;
  text-indent:-9999px;
  margin: 20px;
  background-image:url(../img/logo30x30.png);
  background-repeat:no-repeat;
}

.navbar-default .navbar-brand {
  color: #1abc9c;
  height: 30px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #CCC;
  background-color: transparent;
  /*text-decoration: underline;*/
  border-bottom: 2px solid #CCC; 
  /* text-shadow: 0px 0px 10px #FFF; */
}

.navbar-default .navbar-nav > li > a {
  color: #CCC;
  transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #FFF;
  background-color: #71b6c2;
  /*border-bottom: 2px solid #71b6c2;*/ 
}

p.japanese {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  /* background: url(../img/cubeillo.jpg) repeat-y center top fixed; */
  background: transparent;
  margin-top: 0px;
  margin-bottom: -50px;
  padding-top: 50px;
  text-align:center;
  /*background-attachment: fixed;*/
  /*background-position: center center;*/
  background-position: fixed;
  height: 430px;
  width: 100%;
  /*-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#headerwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 65px;
  font-weight: bold;
  text-shadow: 4px 4px #717473;
}

#headerwrap h4 {
  font-weight: 400;
  color: #ffffff
}

#social {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

#cvwrap {
  /*  background: url(../img/cubeillo.jpg) repeat-y center top fixed;*/
  background: transparent;
  margin-top: 0px;
  padding-top: 100px;
  text-align:center;
  /*background-attachment: fixed;*/
  /*background-position: center center;*/
  background-position: fixed;
  height: 300px;
  width: 100%;
  /*-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#cvwrap h1 {
  color:#fff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 65px;
  font-weight: bold;
  text-shadow: 4px 4px #717473;
}

#cvwrap h2 {
  color:#fff;
  font-size:3rem;
  letter-spacing: 1rem;
}

@media (min-width: 991px) {
  #social {
    padding-top: 20px;
    padding-bottom: 20px;
  }  
}

@media (max-width:600px){

  /*RESIZE HEADER FOR RESPONSIVE*/
  #headerwrap {
  background: url(../img/cubeillo.jpg) no-repeat center top;
  /* background: transparent; */
  margin-top: 0px;
  padding-top: 60px;
  text-align:center;
  background-attachment:fixed;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size:inherit;
  -moz-background-size:inherit;
  -o-background-size:inherit;
  background-size:inherit;
}

#cvwrap {
  background:url(../img/cubeillobw.jpg) repeat-y center top fixed;
  margin-top: 0px;
  padding-top: 100px;
  text-align:center;
  /*background-attachment: fixed;*/
  background-position: center center;
  height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: auto;
}

#fixedbackground{
  position:relative;
  /*z-index: -1;*/
  background: url(../img/cubeillo.jpg) no-repeat center top fixed;
  background-position: center center;
  min-height: 800px;
  width: 100%;
  margin-top: 0px;
  padding-top: 100px;
}

#fixedbackground2{
  position: relative;
  /*z-index: -1;*/
  background: url(../img/cubeillo2.jpg) no-repeat center top fixed;
  background-position: center center;
  min-height: 800px;
  width: 100%;
  margin-top: 0px;
  padding-top: 100px;
}

.centered.mt.mb {
  background-color: white;
  z-index: 100;
  height: auto;
  margin-bottom: 0;
}


}/*RESPONSIVE HEADER END*/

#social i {
  font-size: 40px;
  color: #4a4a4a;
  transition: all 0.5s ease;
}

#social i:hover {
  color: #537e8e;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

#footerwrap {
/*  padding-top: 20px;*/
  padding-bottom: 50px;
  background-color: #2f2f2f;
  background-image: url('../img/JPS_footerbackground.jpg');
  background-repeat: repeat-x;
}


@media (min-width: 991px) {
  #footerwrap {
    height: 100%;
  }
}

@media (max-width: 991px){
  .col-lg-2 {
    padding-bottom:50px;

  }
}

@media (max-width: 441px){
  .content h1{
  line-height: 30px;
  color: #999;
  font-size: 30px;
  }
}


@media (min-width: 1000px){
  .content {
  padding-bottom: 10px;    
  }
}


#footerwrap p {
  color: #f2f2f2;
  margin-left: 10px;
}

#workwrap {
  /*  background: url(../img/cubeillo.jpg) repeat-y center top fixed;*/
  background: transparent;
  margin-top: 0px;
  padding-top: 100px;
  text-align:center;
  /*background-attachment: fixed;*/
  /*background-position: center center;*/
  background-position: fixed;
  height: 400px;
  width: 100%;
  /*-webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#workwrap h1 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-size: 65px;
  font-weight: bold;
}

@media (max-width: 441px){
    #workwrap h1 {
    font-size: 60px;
  }
}

#workwrap h4 {
  font-weight: 400;
  color: #ffffff
}

.project {
  margin-top:50px;
  font-size:1.5em;
}

#aboutwrap {
  /*background: url(../img/about.png) center top;
  margin-top: -210px;
  margin-bottom: -200px;*/
  /* padding-top: 260px; */
  /*text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 750px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#joelspic {
  /*background: url(.../img/joelspic.jpg) no-repeat center top;*/
  vertical-align: center;
  margin-top: 120px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width:200px;
  border:none;
  border-radius: 100px;
  background-size: cover;
}




/* Gallery */
.gallery {
  margin-top: 30px;
 /* width: 540px;*/
}

.gallery img:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

/* ==========================================================================
  PARALLAX
   ========================================================================== */

   #scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  height: 800px;
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  /*background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat auto auto;*/
  top: 0;
  position: fixed;
  z-index: -1;
}

footer
{
  width: 100%;
  height: 350px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

@media (max-width: 441px){
  footer {
    width: 100%;
    height: 530px;
    background: gray;
    bottom: -300px;
    position: fixed;
    z-index: -1;
  }

  footer p {
    font-size: 18px;
    line-height: 0;
  }



}

.content
{
  height: 100%;
  min-height: 500px;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

@media (min-width: 991px) {
  .wrapper-parallax {
    height: 913px;
  }
}


h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
/*  text-transform: uppercase;
*/  text-align: center;
  /*font-family: Helvetica;*/
  font-size: 3em;
  color: #999;
}

.headersteal {
  background-color: #52808D;
  width: 100%;
  height: 70px;
  color: #FFF;
  line-height: 3.3em;
  font-size: 2rem;
  letter-spacing: 3.5rem;
}

.headersgrey{
  background-color:#DCDCDC;
  width:100%;
  height: 70px;
  color:#FFF;
  line-height: 2.3em;
  font-size: 3rem;
  letter-spacing: 1.5rem;
}

header h1{}

.content h1{
  line-height: 30px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
